body {
	margin: 20px;
}

p {
	font-size: 12px;
}

h2, h3, p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.noise-container {
	margin-bottom: 40px;
}

.noise-container .noise-example {
	float: left;
	margin-right: 20px;
}

.noise-container .noise-example canvas {
	border: 1px solid #000;
}

.clearfix:after {
	/* for Firefox, IE8, Opera, Safari, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* + html .clearfix {
	/* for IE7 */
	display: inline-block;
}

* html .clearfix {
	/* for IE6 */
	height: 1%;
}